<?xml version="1.0"?>
<!-- Copyright (c) 2016 The UUV Simulator Authors.
     All rights reserved.

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
   <xacro:include filename="$(find nezha_description)/nezha_mini/UUV/thruster_snippets.xacro"/>
  <xacro:property name="prop_mesh_file" value="file://$(find nezha_description)/nezha_mini/meshes/paddle_1_link.STL"/>
  <xacro:property name="d2r" value="0.01745329"/>
  <!-- Thruster joint and link snippet -->
  <xacro:front_paddle robot_namespace="${namespace}"
    parent="${namespace}/base_link"
    mass_paddle="${mass_paddle}"
    radius_rotor="${radius_rotor}"
    paddle_number="0"
    color="Red"
    dyn_time_constant="0.05"
    rotor_constant="0.00837"
    use_own_mesh="true"
    mesh="$(find nezha_description)/nezha_mini/meshes/paddle_0_link.STL">
    <origin xyz="${paddle_arm_length_front_x} ${paddle_arm_length_front_y} ${rotor_offset_top}" rpy="0 0 0" />
    <xacro:insert_block name="rotor_inertia" />
  </xacro:front_paddle>

  <xacro:paddle robot_namespace="${namespace}"
    parent="${namespace}/base_link"
    mass_paddle="${mass_paddle}"
    radius_rotor="${radius_rotor}"
    paddle_number="1"
    color="Red"
    use_own_mesh="true"
    dyn_time_constant="0.05"
    rotor_constant="0.00837"
    mesh="$(find nezha_description)/nezha_mini/meshes/paddle_1_link.STL">
    <origin xyz="${paddle_arm_length_back_x} ${paddle_1_arm_length_back_y} ${paddle_offset_top}" rpy="0 0 0" />
    <xacro:insert_block name="rotor_inertia" />
  </xacro:paddle>

  <xacro:paddle robot_namespace="${namespace}"
    parent="${namespace}/base_link"
    mass_paddle="${mass_paddle}"
    radius_rotor="${radius_rotor}"
    paddle_number="2"
    color="Red"
    use_own_mesh="true"
    dyn_time_constant="0.05"
    rotor_constant="0.00837"
    mesh="$(find nezha_description)/nezha_mini/meshes/paddle_2_link.STL">
    <origin xyz="${paddle_arm_length_back_x} ${paddle_2_arm_length_back_y} ${paddle_offset_top}" rpy="0 0 0" />
    <xacro:insert_block name="rotor_inertia" />
  </xacro:paddle>
</robot>
