<?xml version="1.0"?>
<!--
  Author: Jiaqing "Lance" Wang <jiaqing.wang@sjtu.edu.cn>
  Shanghai Jiao Tong University, The Nezha Lab
  Key Laboratory of Polar Ecosystem and Climate Change
  State Key Laboratory of Submarine Geoscience
-->
<robot name="underwater_spotlight_gimbal" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Optional parameters -->
  <xacro:arg name="use_ignition" default="false"/>
  <xacro:property name="ns" value="/spotlight"/>

  <!-- Materials -->
  <material name="Grey"><color rgba="0.6 0.6 0.6 1.0"/></material>
  <material name="DarkGrey"><color rgba="0.3 0.3 0.3 1.0"/></material>

  <!-- 1) base_link -->
  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0.1" rpy="0 0 0"/>
      <geometry><cylinder radius="0.3" length="0.2"/></geometry>
      <material name="Grey"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.1" rpy="0 0 0"/>
      <geometry><cylinder radius="0.3" length="0.2"/></geometry>
    </collision>
  </link>

  <!-- 2) yaw_link -->
  <link name="yaw_link">
    <inertial>
      <origin xyz="0 0 0.2" rpy="0 0 0"/>
      <mass value="0.5"/>
      <inertia ixx="0.005" ixy="0" ixz="0" iyy="0.005" iyz="0" izz="0.005"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0.2" rpy="0 0 0"/>
      <geometry><cylinder radius="0.28" length="0.06"/></geometry>
      <material name="DarkGrey"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.2" rpy="0 0 0"/>
      <geometry><cylinder radius="0.28" length="0.06"/></geometry>
    </collision>
  </link>

  <!-- 3) pitch_link -->
  <link name="pitch_link">
    <inertial>
      <origin xyz="0 0 0.26" rpy="0 0 0"/>
      <mass value="0.3"/>
      <inertia ixx="0.003" ixy="0" ixz="0" iyy="0.003" iyz="0" izz="0.003"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0.26" rpy="0 0 0"/>
      <geometry><box size="0.06 0.5 0.06"/></geometry>
      <material name="Grey"/>
    </visual>
    <collision>
      <origin xyz="0 0 0.26" rpy="0 0 0"/>
      <geometry><box size="0.06 0.5 0.06"/></geometry>
    </collision>
  </link>

  <!-- 4) spotlight_link (lamp body) -->
  <link name="spotlight_link">
    <inertial>
      <origin xyz="0 0 0.26" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.02" ixy="0" ixz="0" iyy="0.02" iyz="0" izz="0.02"/>
    </inertial>
    <visual>
      <origin xyz="0 0 2.76" rpy="0 0 0"/> <!-- length 5.0, center at 2.5, raised an extra 0.26 above pitch_link, total 2.76 -->
      <geometry><cylinder radius="0.2" length="5.0"/></geometry>
      <material name="Grey"/>
    </visual>
    <collision>
      <origin xyz="0 0 2.76" rpy="0 0 0"/>
      <geometry><cylinder radius="0.2" length="5.0"/></geometry>
    </collision>
  </link>

  <!-- joints -->
  <!-- yaw (rotation about the Z axis) -->
  <joint name="base_yaw_joint" type="revolute">
    <parent link="base_link"/>
    <child link="yaw_link"/>
    <origin xyz="0 0 0.2" rpy="0 0 0"/>
    <axis xyz="0 0 1"/>
    <limit lower="-3.14159" upper="3.14159" effort="10" velocity="2.0"/>
    <dynamics damping="0.1" friction="0.0"/>
  </joint>

  <!-- pitch (rotation about the Y axis) -->
  <joint name="head_pitch_joint" type="revolute">
    <parent link="yaw_link"/>
    <child link="pitch_link"/>
    <origin xyz="0 0 0.06" rpy="0 0 0"/> <!-- fine adjustment from the top of yaw_link to the pitch_link axis -->
    <axis xyz="0 1 0"/>
    <limit lower="-1.2" upper="1.2" effort="10" velocity="2.0"/>
    <dynamics damping="0.1" friction="0.0"/>
  </joint>

  <!-- Fix the lamp body -->
  <joint name="pitch_to_spotlight" type="fixed">
    <parent link="pitch_link"/>
    <child link="spotlight_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>


<!-- Gazebo control plugin -->
<gazebo>
  <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
    <robotNamespace>${ns}</robotNamespace>
  </plugin>
</gazebo>

<!-- transmissions, parsed by gazebo_ros_control -->
<transmission name="base_yaw_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="base_yaw_joint">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="base_yaw_motor">
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

<transmission name="head_pitch_trans">
  <type>transmission_interface/SimpleTransmission</type>
  <joint name="head_pitch_joint">
    <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
  </joint>
  <actuator name="head_pitch_motor">
    <mechanicalReduction>1</mechanicalReduction>
  </actuator>
</transmission>

  <!-- Gazebo appearance materials (optional) -->
  <gazebo reference="base_link"><material>Gazebo/Grey</material></gazebo>
  <gazebo reference="yaw_link"><material>Gazebo/DarkGrey</material></gazebo>
  <gazebo reference="pitch_link"><material>Gazebo/Grey</material></gazebo>
<gazebo reference="spotlight_link">
  <material>Gazebo/Grey</material>

  <!-- Must include the name attribute -->
  <light name="spotlight_beam" type="spot">
    <pose>0 0 0.3 0 0 0</pose>
    <diffuse>1 1 1 1</diffuse>
    <specular>0.3 0.3 0.3 1</specular>
    <!-- Attenuation parameters must be complete and reasonable -->
    <attenuation>
      <range>30</range>
      <constant>0.2</constant>
      <linear>0.01</linear>
      <quadratic>0.001</quadratic>
    </attenuation>
    <direction>0 0 1</direction>
    <spot>
      <inner_angle>0.2</inner_angle>
      <outer_angle>0.7</outer_angle>
      <falloff>0.7</falloff>
    </spot>
    <cast_shadows>true</cast_shadows>
  </light>
</gazebo>

</robot>

