<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!--
      The RexROV meshes and hydrodynamic parameters are based on the parameters and dimensions
      from the SF 30k.

      References:
        [1] Dukan, Fredrik. "ROV Motion Control Systems." PhD Thesis, NTNU, 2014.
        [2] Berg, Viktor. Development and Commissioning of a DP system for ROV SF 30k. MS
            thesis. Institutt for marin teknikk, 2012.
  -->
    <!--<xacro:macro name="thruster_macro" params="namespace thruster_id *origin">
  <xacro:thruster_module_first_order_basic_fcn_macro
    mass = "${mass}"
    namespace="${namespace}"
    thruster_id="${thruster_id}"
    mesh_filename="${prop_mesh_file}"
    scale_thruster = "${scale_thruster}"
    dyn_time_constant="0.05"
    rotor_constant="0.00031">
    <xacro:insert_block name="origin"/>
  </xacro:thruster_module_first_order_basic_fcn_macro>
</xacro:macro>
  
  <xacro:thruster_macro namespace="${namespace}" thruster_id="0">
  <origin xyz="${paddle_arm_length_front_x} ${paddle_arm_length_front_y} ${rotor_offset_top}" rpy="0 -1.57 0"/>
</xacro:thruster_macro>

  <xacro:thruster_macro namespace="${namespace}" thruster_id="1">
  <origin xyz="${paddle_arm_length_back_x} ${paddle_1_arm_length_back_y} ${paddle_offset_top}" rpy="0 0 -3.14"/>
</xacro:thruster_macro>
  <xacro:thruster_macro namespace="${namespace}" thruster_id="2">
  <origin xyz="${paddle_arm_length_back_x} ${paddle_2_arm_length_back_y} ${paddle_offset_top}" rpy="0 0 -3.14"/>
</xacro:thruster_macro>-->
  <!-- includes 
  <xacro:include filename="$(find uuv_descriptions)/urdf/common.urdf.xacro"/>
  <xacro:include filename="$(find uuv_sensor_ros_plugins)/urdf/sensor_snippets.xacro"/>
  <xacro:include filename="$(find uuv_gazebo_ros_plugins)/urdf/snippets.xacro"/>  -->
<xacro:include filename="$(find nezha_description)/${namespace}/UUV/UUV_baselink.xacro"/>  
<xacro:include filename="$(find nezha_description)/${namespace}/UUV/UUV_thruster.xacro"/>  
<xacro:include filename="$(find nezha_description)/${namespace}/UUV/sonar_snippets.xacro"/>  
  <xacro:property name="visual_mesh_file" value="file://$(find nezha_description)/${namespace}/meshes/paddle_0_link.STL"/>
  <xacro:property name="prop_mesh_file" value="file://$(find uuv_descriptions)/meshes/prop.dae"/>
  <xacro:property name="mass" value="0.95"/>
  <xacro:forward_multibeam_sonar_m450_130 
  namespace="${namespace}" 
  parent_link="${namespace}/base_link">
  <origin xyz="0.5 0.0 0" rpy="0 ${30*pi/180} 0"/>
</xacro:forward_multibeam_sonar_m450_130>

  <xacro:front_paddle robot_namespace="${namespace}"
    parent="${namespace}/base_link"
    mass_paddle="${mass_paddle}"
    radius_rotor="${radius_rotor}"
    paddle_number="0"
    color="Red"
    dyn_time_constant="0.05"
    rotor_constant="0.00837"
    use_own_mesh="true"
    mesh="$(find nezha_description)/nezha_mini/meshes/paddle_0_link.STL">
    <origin xyz="${paddle_arm_length_front_x} ${paddle_arm_length_front_y} ${rotor_offset_top}+0.1" rpy="0 0 0" />
    <xacro:insert_block name="rotor_inertia" />
  </xacro:front_paddle>

  <xacro:paddle robot_namespace="${namespace}"
    parent="${namespace}/base_link"
    mass_paddle="${mass_paddle}"
    radius_rotor="${radius_rotor}"
    paddle_number="1"
    color="Red"
    use_own_mesh="true"
    dyn_time_constant="0.05"
    rotor_constant="0.00837"
    mesh="$(find nezha_description)/nezha_mini/meshes/paddle_1_link.STL">
    <origin xyz="${paddle_arm_length_back_x} ${paddle_1_arm_length_back_y} ${paddle_offset_top}" rpy="0 0 0" />
    <xacro:insert_block name="rotor_inertia" />
  </xacro:paddle>

  <xacro:paddle robot_namespace="${namespace}"
    parent="${namespace}/base_link"
    mass_paddle="${mass_paddle}"
    radius_rotor="${radius_rotor}"
    paddle_number="2"
    color="Red"
    use_own_mesh="true"
    dyn_time_constant="0.05"
    rotor_constant="0.00837"
    mesh="$(find nezha_description)/nezha_mini/meshes/paddle_2_link.STL">
    <origin xyz="${paddle_arm_length_back_x} ${paddle_2_arm_length_back_y} ${paddle_offset_top}" rpy="0 0 0" />
    <xacro:insert_block name="rotor_inertia" />
  </xacro:paddle>
</robot>
