<?xml version="1.0"?>
<!--
  Author: Jiaqing "Lance" Wang <jiaqing.wang@sjtu.edu.cn>
  Shanghai Jiao Tong University, The Nezha Lab
  Key Laboratory of Polar Ecosystem and Climate Change
  State Key Laboratory of Submarine Geoscience
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find uuv_gazebo_ros_plugins)/urdf/fin_snippets.xacro"/>
  <xacro:include filename="$(find uuv_gazebo_ros_plugins)/urdf/thruster_snippets.xacro"/>
  <xacro:include filename="$(find uuv_gazebo_ros_plugins)/urdf/battery_snippets.xacro"/>
  <xacro:include filename="$(find uuv_gazebo_ros_plugins)/urdf/misc.xacro"/>
</robot>
